body
  padding 50px
  font 20px "Lucida Grande", Helvetica, Arial, sans-serif

h1
  font 50px

a
  color #00B7FF

#timer-view
  font-size 100px

input#new-task
  font-size 30px
  width 30em

#current-pomodoro
  font-weight bold
  font-size 50px
  color blue
  padding-top 10px

#logged-pomodoros
  padding-top 10px

.pomodoro-description
  font-weight bold

.pomodoro-started
  color green
