body
  padding 50px
  font 30px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#timer-view
  font-size 100px

input#new-task
  font-size 30px

#current-pomodoro
  font-weight bold
  font-size 50px
  color blue
  padding-top 10px

#logged-pomodoros
  padding-top 10px

.pomodoro-description
  font-weight bold

.pomodoro-started
  color green
