h1 Devodoro

#timer-view
  span#timer-template(style='display: none') {{ minutes }} : {{ seconds }}

#new-task-view
  form#new-task-form
    input#new-task(type='text')
  a.button-link.js-add-new-task Next Task

#current-task-view
  span#current-task-template(style='display: none') {{ description }}

#logged-pomodoros
  ul#logged-pomodoro-list
    li#logged-pomodoro-template(style='display: none') 
      span {{ description }} 
      span {{ started.getHours() }}:{{ started.getMinutes() }}
    
script(type='text/javascript', src='/javascripts/underscore.js')
script(type='text/javascript', src='/javascripts/backbone.js')
script(type='text/javascript', src='/javascripts/devodoro.js')
