h1 Devodoro

#timer-view
  span#timer-template(style='display: none') {{ minutes }}:{{ seconds }}

#pomodoro-view
  form#new-pomodoro-form(type='text')
    input#new-pomodoro(type='text', name='description')
  span#pomodoro-template(style='display: none') {{ description }}
  h2#current-pomodoro

#logged-pomodoros
  table#logged-pomodoro-list
    tr#logged-pomodoro-template(style='display: none') 
      td.pomodoro-description {{ description }} 
      td.pomodoro-started {{ new Date(started).getHours() }}:{{ new Date(started).getMinutes() }}
      td.pomodoro-status {{ status }}
    
script(type='text/javascript', src='/javascripts/underscore.js')
script(type='text/javascript', src='/javascripts/backbone.js')
script(type='text/javascript', src='/javascripts/devodoro.js')
script(type='text/javascript', src='/javascripts/jquery.titlealert.js')

audio#buzzer
  source(src='http://instantrimshot.com/audio/rimshot.mp3')
