h1 Devodoro

#timer-view
  span#timer-template(style='display: none') {{ minutes }} : {{ seconds }}

#new-task-view
  form#new-task-form(type='text')
    input#new-task(type='text', name='description')

#pomodoro-view
  span#pomodoro-template(style='display: none') {{ description }}
  #current-pomodoro

#logged-pomodoros
  ul#logged-pomodoro-list
    li#logged-pomodoro-template(style='display: none') 
      span {{ description }} 
      span {{ new Date(started).getHours() }}:{{ new Date(started).getMinutes() }}
    
script(type='text/javascript', src='/javascripts/underscore.js')
script(type='text/javascript', src='/javascripts/backbone.js')
script(type='text/javascript', src='/javascripts/devodoro.js')
